{% extends 'base.html.twig' %}

{% block title %}Hello EleveController!{% endblock %}

{% block body %}


    <fieldset>

        <h1> Bilan eleve </h1>
        <a href="{{ path('eleve_bilan', {'id': eleve.id}) }}">
        <button type="submit" class="btn btn-success">
            Voir Bilan Eleve
        </button>
        </a>

        <a class="btn btn-danger btn-lg" href="#" role="button" data-toggle="modal"
           data-target="#nouveauEntree{{ eleve.id }}">    Nouvel entrée scolaire  </a>


        <!-- MODAL DELETE ETABLISSEMENT -->
        <div class="modal fade" id="nouveauEntree{{ eleve.id }}" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nouvelle entrée scolaire</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{{ path('nouveuEntreeScolaire', {'id': eleve.id}) }}">
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col">
                                        <label>  nouveau etablissement
                                        <SELECT name="historique[etablissement]"  class="form-control" >
                                            {% for etablissement in lesEtablissements  %}
                                                <OPTION> {{ etablissement.id }}  {{ etablissement.nomEtablissement }}</OPTION>
                                            {% endfor %}
                                        </SELECT>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label> nouveau Classe  :</label>
                                        <input type="text" class="form-control"
                                               name="historique[classe]"
                                        >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Année soclaire</label>
                                        <input type="text" class="form-control"
                                               name="historique[anneeScolaire]"
                                        >
                                    </div>
                                </div>

                                <input type="hidden" name="historique[valid]" value="OK">
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn btn-outline-success">Modifier
                                </button>
                                <button type="button" class="btn btn-outline-danger"
                                        data-dismiss="modal">Annuler
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL DELETE ETABLISSEMENT -->




    </fieldset>
    {{ form_start(form) }}

    <div class="container">
        <div class="row">
            {#  1 colonne #}
            <div class="col-lg-4">
                {# 6 lignes éléve origine #}
                <hr>
                <h3> Elève - Origine - Coordonnées</h3>
                <hr>
                {#1ere ligne #}
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.nom, {'label': 'Nom','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.prenom,   {'label': 'Prénom','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#2eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-8">
                        {{ form_row(form.dateNaiss,   {'label': 'Date de naissance','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-4">
                        <label>Sexe</label>
                        {{ form_row(form.sexe,   {'label': ' ','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#3eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.etabOrigine,   {'label': 'Etabl d\'origine','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.classOrigine,   {'label': 'Classe d\'origine','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#4eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.entreeIR,   {'label': 'Entrée IR','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-2">
                        {{ form_row(form.chambre,   {'label': 'Chambre','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#5eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.sortieIR,   {'label': 'Sortie IR','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-4">
                        {{ form_row(form.motifSortie,   {'label': 'Motif sortie','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#6eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.telPortable,   {'label': 'Téléphone portable','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.email,   {'label': 'Email','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>


                {#4 lignes elèves scolarisation #}
                <br>
                <hr>
                <h3> Elève - Scolarisation - Suivi</h3>
                <hr>


                <div class="row">
                    <div class="col">
                        {{ form_row(form.anneeScolaire,   {'label': 'Année scolaire','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#1ere ligne #}
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.etablissement,   {'label': 'Scolarisé à','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.telStandart,   {'label': 'Téléphone standart','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#2eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.classActuelle,   {'label': 'Classe actuellet','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.niveau,   {'label': 'Niveau','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#3eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.enseignement,   {'label': 'Enseignement','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.specialite,   {'label': 'Spécialité','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#4eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.suivieScolaire,   {'label': 'Suivi scolaire','attr': {'class': 'form-control_eleve'}}) }}
                    </div>

                    <div class="col-lg-6">
                        {{ form_row(form.personnel,   {'label': 'personnel référent','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#5eme ligne #}

                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.etage,   {'label': 'etage','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.particularite,   {'label': 'particularite','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.telResEs,   {'label': 'téléphone resEs','attr': {'class': 'form-control_eleve'}}) }}
                    </div>

                </div>



                {#4 lignes autorisations #}
                <br>
                <hr>
                <h3> Autorisations </h3>
                <hr>

                {#1ere ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.retourSeulDomicile,   {'label': 'Retour seul domicile','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.sortieEducative,   {'label': 'Sortie éducative','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#2eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.droitImage,   {'label': 'Permis droit d\'image','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.dossierRentre,   {'label': 'Dossier rentrreé','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {# 3eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.presenceDimancheSoir,   {'label': 'Présence dimanche soir','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.presenceVendrediSoir,   {'label': 'Présence vendredi soir','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {# 4eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.presenceCouponImage,   {'label': 'Présence coupon','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.autonomieChambre,   {'label': 'Autonomie chambre','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#5eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.droitImage,   {'label': 'Droit d\'image','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.dossierRentre,   {'label': 'Dossier rentrreé','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>
            </div> {#  1 colonne fin  #}

            {#2eme colonne #}
            <div class="col-lg-4">

                {#4 lignes documents chartes engagements #}
                <hr>
                <h3> Documents - Chartes - Engagements </h3>
                <hr>

                {#1ere ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.engagementInitial,   {'label': 'Engagement initial','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.charteVieCollective,   {'label': 'Charte vie collective','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#2eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Charte CDI</label>
                        {{ form_row(form.charteCDI,   {'label': ' ','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.charteInfo,   {'label': 'Charte informatique','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#3eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.ficheInfermerie,   {'label': 'Fiche d\'infirmerie','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.avisImposition,   {'label': 'Avis d\'imposition','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#16 lignes responsables légaux et contact #}
                <hr>
                <h3> Résponsables légaux et contact </h3>
                <hr>

                {#1ere ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Résponsable légal prioritaire</label>
                        {{ form_row(form.RLprioritaire,   {'label': ' ','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#2eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.respLegal1,   {'label': 'Resp legal1','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.lienR1,   {'label': 'Lien RL1','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#3eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Adresse R1</label>
                        {{ form_row(form.adresseR1,   {'label': '  ','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#4eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.codePostR1,   {'label': 'Code postal R1','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.villeR1,   {'label': 'Ville R1','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#5eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.telFixeR1,   {'label': 'Tel fixe  R1','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.telPortR1,   {'label': 'Tel portable R1','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#6eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.telTravailleR1,   {'label': 'Tel travail  R1','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.emailR1,   {'label': 'Email R1','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                <hr>

                {#7eme ligne #}

                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.respLegal2,   {'label': ' Résponsable légal2','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.lienRL2,   {'label': 'Lien RL2','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#8eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Adresse RL2</label>
                        {{ form_row(form.adresseR2,   {'label': '  ','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#9eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.codePostR2,   {'label': 'Code postal R2','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.villeR2,   {'label': 'Ville R2','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#10eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.telFixeR2,   {'label': 'Tel fixe  R2','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.telPortR2,   {'label': 'Tel portable R2','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#11eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.telTravailleR2,   {'label': 'Tel travail  R2','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.emailR2,   {'label': 'Email R2','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                <hr>

                {#12eme ligne #}

                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.autreContact,   {'label': ' Autre contact','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.lienAC,   {'label': 'Lien AC','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#13eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Adresse AC</label>
                        {{ form_row(form.adresseAC,   {'label': '  ','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#14eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.codePostAC,   {'label': 'Code postal AC','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.villeAC,   {'label': 'Ville AC','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#15eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.telFixeAc,   {'label': 'Tel fixe  AC','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.telPortAc,   {'label': 'Tel portable AC','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#16eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.telTravailleAc,   {'label': 'Tel travail  AC','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.emailAc,   {'label': 'Email AC','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>
            </div>

            {#3eme cologne #}
            <div class="col-lg-4">

                {#10 lignes suivi éducatif santé social #}
                <hr>
                <h3> Suivi éducatif - santé - social</h3>
                <hr>
                {#1ere ligne #}
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.educatifNom, {'label': 'Educatif nom','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.educatifPrenom,   {'label': 'Educatif prénom','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#2eme ligne #}
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.educatifOrganisme, {'label': 'Educatif organisme','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.educatifTel,   {'label': 'Educatif tel','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#3eme ligne #}
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Educatif email</label>
                        {{ form_row(form.educatifEmail, {'label': ' ','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#4eme ligne #}
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.santeNom, {'label': 'Santé nom','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.santePrenom,   {'label': 'Santé prénom','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#5eme ligne #}
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.santeOrganisme, {'label': 'Santé organisme','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.santeTelephone,   {'label': 'Santé tel','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#6eme ligne #}
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Santé email</label>
                        {{ form_row(form.santeEmail, {'label': ' ','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#7eme ligne #}
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <label>PAI</label>
                        {{ form_row(form.PAI, {'label': ' ','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        <label>Médicaments</label>
                        {{ form_row(form.medicament,   {'label': ' ','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#8eme ligne #}
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.socialeNom, {'label': 'Social nom','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.socialePrenom,   {'label': 'Social prénom','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#9eme ligne #}
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.socialeOrganisme, {'label': 'Social organisme','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.socialeTel,   {'label': 'Social tel','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#10eme ligne #}
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Social email</label>
                        {{ form_row(form.socialeEmail, {'label': ' ','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#5  lignes données economiques  transport  accès  divers  #}

                <hr>
                <h3> Données economiques - Transport - Accès - Divers </h3>
                <hr>

                {#1ere ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.Xpass, {'label': 'N°Xpass','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        <label>Catégorie</label>
                        {{ form_row(form.categorieEco,   {'label': ' ','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#2eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.QFFM, {'label': 'QFFM','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.parsBses,   {'label': 'Parts Bses','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#3eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.PecPar, {'label': 'PecPar','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        <label>Aide supp</label>
                        {{ form_row(form.aideSupp,   {'label': ' ','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#4eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.montant, {'label': 'Montant','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.ligneBus,   {'label': 'Ligne bus','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

                {#5eme ligne #}

                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.departIR, {'label': 'Départ IR','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.notes,   {'label': 'Notes','attr': {'class': 'form-control_eleve'}}) }}
                    </div>
                </div>

            </div>


        </div>






        {{ form_end(form) }}


    </div>


{% endblock %}
