{% extends 'base.html.twig' %}



{% block body %}


    <!-- page d'acceuille si non connecté -->
    {% if not app.user %}
        <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>

        <h1 class="titleIdx display-1" >VISIR V.02 </h1>
        <h4 class="subTitleIdx" >Progicielle spécialisé en gestion des élèves <br> <div class="textPerso">l'internat de réuissite </div> </h4>

        <p class="text-dark subTitleIdx">Ce projet est sous la direction de département de STID de iut de Metz mis au <br>point par Yavuzcan ÖZAK &Brandon Royal, Bilal et Nacym</p>
    {% endif %}








    <!-- page d'acceuille si connecté -->
        <!-- si professeur -->
    {% if is_granted('ROLE_ADMIN') %}
        <link href="{{ asset('css/acceuille.css') }}" rel="stylesheet"/>
        {% block menuAcceuille %}

                {% block modalBouton %}
                    <div class="row">
                        <div class="col colStyle" data-toggle="modal" data-target="#eleves">
                            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                <div class="card-body">
                                    <h4 class="card-title">ELEVES </h4>
                                    <img class="iconMenu" src="{{ asset('icon/education/graduates-1.svg') }}" alt="Symfony!"/>
                                </div>
                            </div>
                        </div>
                        <div class="col colStyle" data-toggle="modal" data-target="#personjnel">
                            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                <div class="card-body">

                                    <h4 class="card-title">PERSONNEL </h4>
                                    <a  href = "{{path('les_personnels')}}">
                                    <img class="iconMenu" src="{{ asset('icon/education/reading.svg') }}" alt="Symfony!"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col colStyle" data-toggle="modal" data-target="#etablissementsX">
                            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                <div class="card-body">
                                    <h4 class="card-title">ETABLISSEMENTS</h4>
                                    <a  href = "{{path('les_etablissements')}}">
                                    <img class="iconMenu" src="{{ asset('icon/education/school.svg') }}" alt="Symfony!"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col colStyle" data-toggle="modal" data-target="#locaux">
                            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                <div class="card-body">
                                    <h4 class="card-title">LOCAUX</h4>
                                    <img class="iconMenu" src="{{ asset('icon/education/history.svg') }}" alt="Symfony!"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col colStyle" data-toggle="modal" data-target="#activitesX">
                            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                <div class="card-body">
                                    <h4 class="card-title">ACTIVITES</h4>
                                    <a  href = "{{path('les_activites')}}">
                                    <img class="iconMenu" src="{{ asset('icon/education/theater.svg') }}" alt="Symfony!"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col colStyle" data-toggle="modal" data-target="#absencesRetards">
                            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                <div class="card-body">
                                    <h4 class="card-title">ABSENCES & RETARDS</h4>
                                    <img class="iconMenu" src="{{ asset('icon/education/backpack.svg') }}" alt="Symfony!"/>
                                </div>
                            </div>
                        </div>
                        <div class="col colStyle" data-toggle="modal" data-target="#incidentsX">
                            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                <div class="card-body">
                                    <h4 class="card-title">SEQUENCES</h4>
                                    <a  href = "{{path('lesSequences')}}">
                                    <img class="iconMenu" src="{{ asset('icon/education/rocket.svg') }}" alt="Symfony!"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col colStyle" data-toggle="modal" data-target="#sanctions">
                            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                                <div class="card-body">
                                    <h4 class="card-title">SACTIONS</h4>
                                    <img class="iconMenu" src="{{ asset('icon/education/presentation.svg') }}" alt="Symfony!"/>
                                </div>
                            </div>
                        </div>
                    </div>
                 {% endblock %} <!-- endblock modal boutons -->

            {% block modalContenu %}
                <!-- Les modals -->
                <!-- Modal eleves -->
                <div class="modal fade" id="eleves" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">eleves</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Modal personnel -->
                <div class="modal fade" id="personnel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">personnel</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <button> </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal ETABLISSEMENTS -->
                <div class="modal fade" id="etablissements" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">etablissements</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <!-- le bouton ajout etablissement modal-->
                            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#ajoutEtablissement">
                                Ajouter un etablissement
                            </button>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal LOCAUX -->

                <div class="modal fade bd-example-modal-lg" id="locaux" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">locaux</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                               ...
                            </div>
                            <!-- le bouton ajout etablissement modal-->

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Modal ACTIVITES -->
                <div class="modal fade" id="activites" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">locaux</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Modal ABSENCES & RETARDS -->
                <div class="modal fade" id="absencesRetards" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">absences & retards</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal INCIDENTS -->
                <div class="modal fade" id="incidents" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">incidents</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Modal SACTIONS -->
                <div class="modal fade" id="sanctions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">sanctions</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %} <!-- endblock fin modal contenu -->
            {% block editEtablissement %}


                        <div class="modal fade bd-example-modal-lg" id="ajoutEtablissement" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">ajout etablissement</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            {{  form_start(etablissementForm) }}
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col">
                                            {{ form_row(etablissementForm.nomEtablissement, {'label': 'nom etablissement','attr': {'class': 'form-control'}})  }}
                                        </div>
                                        <div class="col">
                                            {{ form_row(etablissementForm.codeRNE, {'label': 'code RNE','attr': {'class': 'form-control'}})  }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ form_row(etablissementForm.secteurMetz, {'label': 'secteur metz ','attr': {'class': 'form-control'}})  }}
                                        </div>
                                        <div class="col">
                                            {{ form_row(etablissementForm.chefEtablissement, {'label': 'chef etablissement ','attr': {'class': 'form-control'}})  }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ form_row(etablissementForm.adjoint, {'label': 'adjoint','attr': {'class': 'form-control'}})  }}
                                        </div>
                                        <div class="col">
                                            {{ form_row(etablissementForm.referentES, {'label': 'referent ES','attr': {'class': 'form-control'}})  }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ form_row(etablissementForm.telReferent, {'label': 'tel referent','attr': {'class': 'form-control'}})  }}
                                        </div>
                                        <div class="col">
                                          {{ form_row(etablissementForm.adresse, {'label': 'adresse','attr': {'class': 'form-control'}})  }}
                                        </div>
                                        <div class="col">
                                            {{ form_row(etablissementForm.codePostal, {'label': 'codePostal','attr': {'class': 'form-control'}})  }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ form_row(etablissementForm.telStandard, {'label': 'tel standard','attr': {'class': 'form-control'}})  }}
                                        </div>
                                        <div class="col">
                                            {{ form_row(etablissementForm.telVieScolaire, {'label': 'tel vie scolaire','attr': {'class': 'form-control'}})  }}
                                        </div>
                                    </div>
                                    <br/>

                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="submit" class="btn btn-outline-success">Ajouter</button>
                                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Annuler
                                    </button>
                                </div>
                            {{ form_end(etablissementForm) }}

                        </div>
                    </div>
                </div>


            {% endblock %}
        {% endblock %} <!-- end block menu acceuille -->
    {% endif %} <!-- end if role professeur is gruanteed-->


{% endblock %}
