{% extends 'base.html.twig' %}

{% block title %}Hello LocalController!{% endblock %}

{% block body %}



        <!-- CONTAINER -->
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h1 class="row justify-content-center">Liste des locaux</h1>
                    <hr class="w-25"/>
                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#ajoutLocal">
                        Ajouter un local
                    </button>


                    <!-- MODAL ajout local -->
                    <div class="modal fade" id="ajoutLocal" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Ajout d'un local</h5>
                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                </div>
                                {{  form_start(localForm) }}
                                    <div class="modal-body">

                                        <div class="row">
                                            <div class="col">
                                                {{ form_row(localForm.libelle, {'label': 'libelle','attr': {'class': 'form-control'}})  }}
                                            </div>
                                            <div class="col">
                                                {{ form_row(localForm.capacite, {'label': 'capacite','attr': {'class': 'form-control'}})  }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_row(localForm.utilisation, {'label': 'utilisation','attr': {'class': 'form-control'}})  }}
                                            </div>
                                            <div class="col">
                                                {{ form_row(localForm.specialisee, {'label': 'specialisée','attr': {'class': 'form-control'}})  }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_row(localForm.observations, {'label': 'observations','attr': {'class': 'form-control'}})  }}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="submit" class="btn btn-outline-success">Ajouter</button>
                                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Annuler
                                        </button>
                                    </div>
                                {{ form_end(localForm) }}
                            </div>
                        </div>
                    </div>
                    <!-- END MODAL ajout local -->

                    <hr class="w-25"/>
                    <!-- TABLE USERS -->
                    <table class="table table-bordered text-center">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">libelle</th>
                            <th scope="col">capacite</th>
                            <th scope="col">utilisation</th>
                            <th scope="col">specialisee</th>
                            <th scope="col">observations</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for local in lesLocaux %}
                            <tr>
                                <td>{{ local.libelle }}</td>
                                <td>{{ local.capacite }}</td>
                                <td>{{ local.utilisation }}</td>
                                <td>{{ local.specialisee }}</td>
                                <td>{{ local.observations}}</td>
                                <td>
                                    <button type="button" class="btn btn-outline-warning" data-toggle="modal"
                                             data-target="#editLocal{{ local.id }}"><i class="far fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                            data-target="#deleteLocal{{ local.id }}"><i class="far fa-trash-alt"></i>
                                    </button>



                                    <!-- MODAL EDIT USER -->
                                    <div class="modal fade" id="editLocal{{ local.id }}" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Modifier un utilisateur</h5>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span>&times;</span></button>
                                                </div>

                                                <form method="post" action="{{ path('locaux_edit_local', {'id': local.id}) }}">
                                                    <div class="modal-body">


                                                        <div class="row">
                                                            <div class="col">
                                                                <label>libelle :</label>
                                                                <input type="text" class="form-control"
                                                                       name="local[libelle]" value="{{ local.libelle }}"
                                                                       >
                                                            </div>
                                                            <div class="col">
                                                                <label> capacite :</label>
                                                                <input type="number" class="form-control"
                                                                       name="local[capacite]" value="{{ local.capacite }}"
                                                                       >
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <label>utilisation :</label>
                                                                <input type="text" class="form-control"
                                                                       name="local[utilisation]" value="{{ local.utilisation }}"
                                                                       >
                                                            </div>
                                                            <div class="col">

                                                                <label>spécialisée :
                                                                    <select name="local[specialisee]" class="form-control"
                                                                            required>

                                                                            <option value="1">oui</option>
                                                                            <option value={{ non }}>non</option>

                                                                    </select>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <label>observations :</label>
                                                                <input type="text" class="form-control"
                                                                       name="local[observations]" value="{{ local.observations }}"
                                                                       >
                                                            </div>
                                                        </div>


                                                        <input type="hidden" name="local[valid]" value="OK">
                                                    </div>
                                                    <div class="modal-footer justify-content-center">
                                                        <button type="submit" class="btn btn-outline-success">Modifier
                                                        </button>
                                                        <button type="button" class="btn btn-outline-danger"
                                                                data-dismiss="modal">Annuler
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END MODAL EDIT USER -->

                                    <!-- MODAL DELETE LOCAL -->
                                    <div class="modal fade" id="deleteLocal{{ local.id }}" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Suppression d'un local</h5>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span>&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Êtes-vous sûr de vouloir supprimer local "{{ local.libelle }}
                                                        " ?</p>
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <a href="{{ path('locaux_delete_local', {'id': local.id}) }}">
                                                        <button type="button" class="btn
                                                    btn-outline-success">Supprimer
                                                        </button>
                                                    </a>
                                                    <button type="button" class="btn btn-outline-danger"
                                                            data-dismiss="modal">Annuler
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END MODAL DELETE USER -->

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- END TABLE USERS -->
                </div>
            </div>

            
        </div>
        <!-- END CONTAINER -->

{% endblock %}
