{% extends 'base.html.twig' %}



{% block body %}



        <!-- CONTAINER -->
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h1 class="row justify-content-center">Liste des Activites</h1>
                    <hr class="w-25"/>
                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#ajoutLocal">
                        Ajouter un activite
                    </button>


                    <!-- MODAL ajout activite -->
                    <div class="modal fade" id="ajoutLocal" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Ajout d'un activite</h5>
                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                </div>
                                <form method="post" action="{{ path('les_activites', {'id': activite.id}) }}">
                                    <div class="modal-body">


                                        <div class="row">
                                            <div class="col">
                                                <label>nom :</label>
                                                <input type="text" class="form-control"
                                                       name="activite[nom]" value="{{ activite.nom }}"
                                                >
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <label>code regroupement :</label>
                                                <input type="text" class="form-control"
                                                       name="activite[codeRegroupement]" value="{{ activite.codeRegroupement }}"
                                                >
                                            </div>

                                            <div class="col">
                                                <label> code statistique :</label>
                                                <input type="text" class="form-control"
                                                       name="activite[codeStatistique]" value="{{ activite.codeStatistique }}"
                                                >
                                            </div>
                                        </div>
                                        <input type="hidden" name="activite[valid]" value="OK">
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="submit" class="btn btn-outline-success">Ajouter
                                        </button>
                                        <button type="button" class="btn btn-outline-danger"
                                                data-dismiss="modal">Annuler
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END MODAL ajout activite -->

                    <hr class="w-25"/>
                    <!-- TABLE USERS -->
                    <table class="table table-bordered text-center">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">nom</th>
                            <th scope="col">codeStatistique</th>
                            <th scope="col">codeRegroupement</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for activite in lesActivites %}
                            <tr>
                                <td>{{ activite.nom }}</td>
                                <td>{{ activite.codeStatistique }}</td>
                                <td>{{ activite.codeRegroupement }}</td>
                                <td>
                                    <button type="button" class="btn btn-outline-warning" data-toggle="modal"
                                             data-target="#editActivite{{ activite.id }}"><i class="far fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                            data-target="#deleteActivite{{ activite.id }}"><i class="far fa-trash-alt"></i>
                                    </button>



                                    <!-- MODAL EDIT USER -->
                                    <div class="modal fade" id="editActivite{{ activite.id }}" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Modifier un activite</h5>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span>&times;</span></button>
                                                </div>

                                                <form method="post" action="{{ path('activites_edit_activite', {'id': activite.id}) }}">
                                                    <div class="modal-body">


                                                        <div class="row">
                                                            <div class="col">
                                                                <label>nom :</label>
                                                                <input type="text" class="form-control"
                                                                       name="activite[nom]" value="{{ activite.nom }}"
                                                                       >
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col">
                                                                <label>code regroupement :</label>
                                                                <input type="text" class="form-control"
                                                                       name="activite[codeRegroupement]" value="{{ activite.codeRegroupement }}"
                                                                       >
                                                            </div>
                                                            <div class="col">
                                                                <label> codeStatistique :</label>
                                                                <input type="text" class="form-control"
                                                                       name="activite[codeStatistique]" value="{{ activite.codeStatistique }}"
                                                                >
                                                            </div>
                                                        </div>

                                                        <input type="hidden" name="activite[valid]" value="OK">
                                                    </div>
                                                    <div class="modal-footer justify-content-center">
                                                        <button type="submit" class="btn btn-outline-success">Modifier
                                                        </button>
                                                        <button type="button" class="btn btn-outline-danger"
                                                                data-dismiss="modal">Annuler
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END MODAL EDIT USER -->

                                    <!-- MODAL DELETE LOCAL -->
                                    <div class="modal fade" id="deleteActivite{{ activite.id }}" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Suppression d'un activite</h5>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span>&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Êtes-vous sûr de vouloir supprimer activite "{{ activite.nom }}
                                                        " ?</p>
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <a href="{{ path('activites_delete_activite', {'id': activite.id}) }}">
                                                        <button type="button" class="btn
                                                    btn-outline-success">Supprimer
                                                        </button>
                                                    </a>
                                                    <button type="button" class="btn btn-outline-danger"
                                                            data-dismiss="modal">Annuler
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END MODAL DELETE USER -->

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- END TABLE USERS -->
                </div>
            </div>


        </div>
        <!-- END CONTAINER -->

{% endblock %}
